<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alle Student:innen</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid">

    <h1>Student:innenliste</h1>

</div>
<table class="table" id="studentTable">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>PLZ</th>
        <th>Aktion</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student: ${allStudents}">
        <td th:text="${student.id}"></td>
        <td th:text="${student.name}"></td>
        <td th:text="${student.plz}"></td>
        <td>Aktion offen</td>
    </tr>
    </tbody>
</table>


</body>
</html>